<h2> Image page </h2>

<h1> GPA </h1>
<form method="post" enctype="multipart/form-data" action="/gpa-image">
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>

<h1> Health </h1>
<form method="post" enctype="multipart/form-data" action="/health">
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>