<div class="container text-center authenticate-form">
  <form class="form-signin" action="/login" method="post">
    <img class="mb-4" src="assets//images/pig.jpg" alt="" width="72" height="72"/>
    <div class="form-group">
      <h1 class="h3 mb-3 font-weight-normal">Pix (v1.0)</h1>
    </div>
    <div class="form-group">
      <label class="sr-only" for="username">Username</label>
      <input type="username" name="username" class="form-control" id="username" placeholder="Enter username" required="" autofocus="">
      <label class="sr-only" for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/register" class="btn btn-primary">Register</a>
  </form>
</div>