<div class="container">
	<div class="rect" brown>
		<div class="row">
			<div class="col-4 box2 gold">GOLD:</div>
			<div class="col-8 box3 darkyellow">WELCOME TO OUR SHOP!</div>
		</div>
		<div class="row">
			<div class="col-3 box yellow">Mana Potion</div>
			<div class="col-9 box yellow">
				<div class="row">
					<div class="col-3">+30 Mana</div>
					<div class="col-3"></div>
					<div class="col-3">$8</div>
					<div class="col-3"><button type="button" class="btn btn-danger">Buy</button></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3 box yellow">Long Sword</div>
			<div class="col-9 box yellow">
				<div class="row">
					<div class="col-3">+10 Attack</div>
					<div class="col-3"></div>
					<div class="col-3">$10</div>
					<div class="col-3"><button type="button" class="btn btn-danger">Buy</button></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3 box yellow">Sword of the Ancient King</div>
			<div class="col-9 box yellow">
				<div class="row">
					<div class="col-6">Grants you the power to fight the warmonger</div>
					<div class="col-3">$20</div>
					<div class="col-3"><button type="button" class="btn btn-danger">Buy</button></div>
				</div>
			</div>
		</div>
	</div>