<div class="container">
	<div class="rect" brown>
		<div class="row">
			<div class="col-4 box2 gold">GOLD:</div>
			<div class="col-8 box3 darkyellow">WELCOME TO OUR SHOP!</div>
		</div>
		<div class="row">
			<div class="col-3 box yellow">Mana Potion</div>
			<div class="col-9 box yellow">
				<div class="row">
					<div class="col-3">+30 Mana</div>
					<div class="col-3"></div>
					<div class="col-3">$8</div>
					<div class="col-3"><button type="button" class="btn btn-danger">Buy</button></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3 box yellow">Long Sword</div>
			<div class="col-9 box yellow">
				<div class="row">
					<div class="col-3">+10 Attack</div>
					<div class="col-3"></div>
					<div class="col-3">$10</div>
					<div class="col-3"><button type="button" class="btn btn-danger">Buy</button></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3 box yellow">Sword of the Ancient King</div>
			<div class="col-9 box yellow">
				<div class="row">
					<div class="col-6">Grants you the power to fight the warmonger</div>
					<div class="col-3">$20</div>
					<div class="col-3"><button type="button" class="btn btn-danger">Buy</button></div>
				</div>
			</div>
		</div>
	</div>
<!-- 
<h1> this is shop page </h1>

<form action="/shop" method="post">
  <label for="mana"> Mana </label>
  <input type="hidden" name="item" value="mana">
  <input type="number" name="quantity" min="0">
  <input type="submit" value="submit" class="btn btn-primary">
</form>

<form action="/shop" method="post">
  <label for="sword"> Sword </label>
  <input type="hidden" name="item" value="sword">
  <input type="number" name="quantity" min="0">
  <input type="submit" value="submit" class="btn btn-primary">
</form>

<form action="/shop" method="post">
  <label for="ultimate"> Ultimate </label>
  <input type="hidden" name="item" value="ultimate">
  <input type="number" name="quantity" max="1" min="0">
  <input type="submit" value="submit" class="btn btn-primary">
</form>
-->
